<h3>String Interpolation</h3>
<app-string-interpolation></app-string-interpolation>
<hr>
<h3>Property Binding: the button will be enabled after two seconds</h3>
<app-property-binding></app-property-binding>
<hr>
<h3>Event Binding</h3>
<app-event-binding></app-event-binding>
<hr>
<h3>Two-Way Data Binding</h3>
<app-two-way-data-binding></app-two-way-data-binding>
<hr>
<h3>Structural ngIf-else</h3>
<app-structural-directive-demo></app-structural-directive-demo>
<hr>
<h3>Attribute Directive ngStyle and ngClass</h3>
<app-attribute-directive-demo></app-attribute-directive-demo>
<hr>
<h3>Custom Property Binding</h3>
<app-custom-property-binding [element]="parentElement"></app-custom-property-binding>
